{% block sw_cms_block_crystal_cms_widget_preview %}
    <div class="preview-crystal-cms-widget-block">
        <img class="sw-cms-block-product-detail-img"
            :src="'teamblaucrystaldesignconfiguratorintegration/administration/assets/diva-cms-widget.png' | asset">
    </div>
{% endblock %}
