{% block sw_cms_element_crystal_cms_widget %}
    <div class="sw-cms-el-crystal-cms-widget">
        <img class="sw-cms-el-product-detail-img"
            :src="'teamblaucrystaldesignconfiguratorintegration/administration/assets/diva-cms-widget.png' | asset">
    </div>
{% endblock %}
