{% block sw_cms_block_crystal_cms_widget_block %}
    <div class="sw-cms-block-crystal-cms-widget">
        <slot name="main">{% block sw_cms_element_crystal_cms_widget %}{% endblock %}</slot>
    </div>
{% endblock %}
