{% block sw_cms_el_preview_crystal_cms_widget %}
    <div class="preview-crystal-cms-widget">
        <img class="sw-cms-el-product-detail-img"
        :src="assetFilter('teamblaucrystaldesignconfiguratorintegration/administration/assets/diva-cms-widget.png')">
    </div>
{% endblock %}